body {
    background: #cfd2d8;
}

.wireframe {
    width: 100%;
    max-width: 430px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 18px;
    display: grid;
    grid-template-rows: 1fr 1fr 5fr 1fr 1fr;
    gap: 8px;
}

.box,
.column {
    display: grid;
    place-items: center;
    border-radius: 4px;
    color: white;
    font-size: 1rem;
    font-weight: 400;
}

.header {
    background: #b01c75;
}

.aside-one {
    background: #0d6f9e;
}

.columns {
    background: #24b979;
    border-radius: 4px;
    padding: 8px 15px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 16px;
}

.column {
    background: #ef135b;
    font-size: 0.75rem;
}

.aside-two {
    background: #24a9bb;
}

.footer {
    background: #ef681d;
}

@media (min-width: 420px) {
    .wireframe {
        min-height: 650px;
        padding: 34px 18px;
    }

    .columns {
        padding-top: 14px;
        padding-bottom: 14px;
        gap: 32px;
    }
}
